ul.tjnewsrcontent .recommend_news_many p.img-wrap span.one_img{
    width: 640px;
    height: 213px;
}
body{
    font: 14px/1.5 \5fae\8f6f\96c5\9ed1,'Microsoft YaHei',arial,sans-serif !important;
}
/* 閸忔娊鏁拠宥嗗腹閼斤拷 */
.fl { float: left; }
.fr { float: right; }
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}

.hot_word_recommend {
    width: 670px;
    margin: 16px 0;
}
.hot_word_lists {
    width: 100%;
}
.hot_word_item {
    width: 201px;
    height: 32px;
    line-height: 32px;
    margin: 0 12px 0 0;
}
.hot_word_item i {
    width: 4px;
    height: 4px;
    background: #7195b7;
    margin: 15px 6px 0 0;
}
.hot_word_item a {
    max-width: 191px;
    font-size: 18px;
    overflow: hidden;
    color: #333;
    white-space: nowrap;
}
.hot_word_item a:hover {
    color: #ec4b4b;
}
#dl_entrance{
    position: relative;
    height:auto !important;
}
.main_r_title{
    padding-bottom: 0;
}
.carousel{
    padding-bottom: 16px;
}
.carousel .special-list {
    height: 180px;
}
.special-list {
    padding-top: 7px;
}
.carousel .special-list .special-item {
    width:336px;
    margin: 3px 0;
    padding: 3px 0;
    position: absolute;
}
.special-list .special-item {
    position: relative;
    overflow: hidden;
}
.special-list .special-item a.img {
    width: 100%;
    height: 180px;
    text-align: center;
}
.special-list .special-item a.txt {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background: url('../../../../assets/images/lingHeight60.png') repeat-x;
}
.special-list .special-item a {
    display: block;
    overflow: hidden;
    zoom: 1;
}
.clearfix {
    display: block;
    zoom: 1;
}
.special-list .special-item a.img img.animation {
    webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.special-list .special-item a.img img.animation {
    display: block;
    width:100%;
    height: 180px;
    vertical-align: middle;
}
img.animation, ul.tjnewsrcontent li img {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
img.animation {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.pagination-icon {
    position: absolute;
    top: 180px;
    left: 50%;
    margin-left: -32px;
}
.pagination-icon li {
    width: 7px;
    height: 7px;
    float: left;
    margin: 0 3px;
    background: #D3D3D3;
    border-radius: 50%;
}
.pagination-icon .active {
    width: 32px;
    border-radius: 3px;
    background: #EE4c4c;
}
.special-more-under {
    width: 174px;
    height:150px;
    margin-top: 0px;
    float: left;
}
.special-more-left {
    margin-right: 10px;
}
.special-more-under .img {
    display: block;
    width: 100%;
    height: 96px;
    overflow: hidden;
}
.special-more-under .img img {
    width: 100%;
    height: 96px;
}
.special-more-under .title {
    display: block;
    height: 35px;
    line-height: 17px;
    padding-top: 10px;
    overflow: hidden;
}
.special-list .special-item a.txt span.special-item-title {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 20px;
    overflow: hidden;
}
/*婢堆冩禈*/
.recommend_news_many .largeImage{
    padding:0px !important;
    background-color: #fff !important;
    width: 640px !important;
    height: 270px !important;
    overflow: hidden !important;
    cursor: pointer !important;
}
.recommend_news_many .largeImage .largeImage-title{
    font-size: 20px !important;
}
.recommend_news_many .largeImage-grid-wrap .img {
    width: 100% !important;
    height: 210px !important;
    border-radius: 0px !important;
    position: relative !important;
}
.recommend_news_many .largeImage .largeImage-wrapper{
    width: 710px !important;
    height:250px !important;
}